body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
    transition: background-color 0.5s, color 0.5s;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    margin: 0;
}

h2 {
    color: #007BFF;
}

button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.dark-mode {
    background-color: #333;
    color: #f4f4f4;
}

.dark-mode h2 {
    color: #66B2FF;
}